.bg-danger {
    background-color: #d9534f;
    color: white;
}

/* Buttons */
.btn-danger {
    background-color: #d9534f; /* Red button color */
    border-color: #d9534f;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

    .btn-danger:hover {
        background-color: #c9302c; /* Darker red on hover */
        box-shadow: 0 4px 10px rgba(217, 83, 72, 0.5);
        transform: scale(1.02);
    }

.btn-primary {
    background-color: #258cfb; /* Blue button color */
    border-color: #258cfb;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

    .btn-primary:hover {
        background-color: #1a6ccd; /* Darker blue on hover */
        box-shadow: 0 4px 10px rgba(37, 140, 251, 0.5);
        transform: scale(1.02);
    }

/* Shadow Styling */
.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
