.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
}

.badge {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.d-flex.justify-content-center {
    padding: 0;
    margin: 0 auto;
}

.social-icons a {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

    .social-icons a:hover {
        transform: scale(1.1);
        color: #ff5722;
    }